@charset "UTF-8";

@font-face {
    font-family: "MOKOTO";
    src: url(fontes/Mokoto\ Glitch.otf);
}

:root{
    --cor-principal-01: #007DE7;
    --cor-principal-02: #015499;
    --cor-principal-03: #004076;
    --cor-principal-04: #001C34;
    
    --cor-secundaria-01: #04FC49;
    --cor-secundaria-02: #0A9603;

    --cor-principal-gradiente-01: #007be7ab;
    --cor-principal-gradiente-02: #004076ab;
    --cor-principal-sombra-01: #007be756;

    --cor-fundo-01: #00080F;

    --imagem-fundo-01: url("./imagens/IMG_3152_Acinzentado_1500x1000_jpg.jpg"); /* 146kb */
    --imagem-fundo-01-grande: url("./imagens/IMG_3152_Acinzentado_3000x2000.png"); /* 10mb */

    --cor-texto-01: #FFF;

    --padding-lateral-header: 1.5rem;
    --transition-time: 0.1s;
    --gap-elementos: 8rem;
    --padding-lateral-01: 5rem;
    --padding-lateral-01-mobile: 1rem;

    --max-width: 1500px;
}

*{
    font-family: sans-serif;
    color: var(--cor-texto-01);
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: transparent;
}

html{
    background-color: var(--cor-fundo-01);
}

body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: var(--gap-elementos);
    scroll-behavior: smooth;
    max-width: var(--max-width);
    margin: auto;
}

.negrito{
    font-weight: bold;
}

.texto-sombreado{
    text-shadow: 2px 2px 0px #000;
}


.botao-cor-secundaria{
    max-width: fit-content;
    padding: 1em 2em;
    background-image: linear-gradient(to bottom, var(--cor-secundaria-01), var(--cor-secundaria-02));
    border-radius: 3em;
    letter-spacing: 0.05em;
    font-weight: bolder;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    filter: brightness(80%);
    transition: filter var(--transition-time), transform var(--transition-time);
}
.botao-cor-secundaria:hover{
    filter: brightness(100%);
    transform: scale(1.05);
}

button:hover{
    cursor: pointer;
}


.nome-logo{
    font-family: "MOKOTO";
    font-weight: bold;
    font-size: 1.3em;
    letter-spacing: 0.08em;
}


.section-com-background{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 3.0rem 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    box-shadow: 0 0 1.25rem 1.25rem var(--cor-principal-sombra-01);
    text-align: center;
}
.section-com-background h1 > span{
    color: var(--cor-fundo-01);
}
.section-com-background > *{
    max-width: 60rem;
}
@media (max-width: 720px){
    .section-com-background{
        padding: 1.5rem var(--padding-lateral-01-mobile);
    }
}

p, button{
    font-size: 1.0em;
}

@media (max-width: 720px){
    h1{
        font-size: 1.5em;
    }

    h2{
        font-size: 1.25em;
    }

    p, button{
        font-size: 0.95em;
    }
}


/* ## ESTILOS DO HEADER ############################################################################## */

header{
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #0000006b, #0000006b),
        var(--imagem-fundo-01)
    ;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0rem -5rem 5rem var(--cor-fundo-01),
        inset 0rem -2rem 2rem var(--cor-fundo-01)
    ;
}

#header__container-logo{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0%;
    right: 0%;
    padding-top: 2.0em;
}

#header__container-conteudo{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.0em;
    padding: 0px var(--padding-lateral-header);
    font-family: sans-serif;
    max-width: 50rem;
    font-size: 1.2em;
}

#header__container-seta-baixo{
    display: flex;
    justify-content: center;
    padding: 1.0rem;
}

#header__borda-seta-baixo{
    padding: 0.1rem 1.0rem;
    border: 2px solid white;
    border-radius: 2rem;
    overflow: hidden;
    transform: scale(0.9);
}

#header__seta-baixo{
    width: 32px;
    animation: movimento-seta-baixo 0.8s ease-in-out 0s infinite;
    animation-direction: alternate;
}

@media (max-width: 800px){
    #header__container-conteudo{
        text-align: center;
        align-items: center;
        max-width: 100vw;
    }
}

@media (max-width: 720px){
    header{
        background-image:  linear-gradient(to bottom, #0000006b, #0000006b),
        url("./imagens/IMG_3152_Acinzentado_3000x2000.png");
        background-position: center center;
    }

    #header__container-logo{
        position: inherit;
        padding-top: 1.25em;
        opacity: 50%;
    }

    #header__container-conteudo{
        gap: 0px;
        justify-content: space-evenly;
        padding: 0px 1em;
    }
}

@keyframes movimento-seta-baixo {
    from{
        opacity: 50%;
        transform: translateY(-0.9rem);
    }
    to{
        opacity: 100%;
        transform: translateY(0.9rem);
    }
}


/* ## ESTILOS DO MAIN ############################################################################## */

main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-elementos);
}

#navbar-oculta{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    max-width: var(--max-width);
    margin: auto;
    padding: 0.5rem 0.5rem;
    display: none;
    font-size: 0.5em;
    z-index: 999;
}
#navbar-oculta.ativo{
    display: block;
}

#navbar-oculta__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    border: 1px solid white;
    border-radius: 3rem;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.45);

    opacity: 0%;
    transition: opacity var(--transition-time);
}
#navbar-oculta.ativo > #navbar-oculta__container{
    opacity: 100%;
    transition: opacity var(--transition-time);
}

#navbar-oculta__container > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.05em;
}

#navbar-oculta__botao-inicio{
    padding: 1em;
    color: var(--cor-principal-01);
    font-weight: bold;
    letter-spacing: 0.05em;
}
#navbar-oculta__botao-inicio:hover{
    text-decoration: underline;
}

#navbar-oculta__botao-ver-planos{
    padding: 1em 2em;
    background-image: linear-gradient(to bottom, var(--cor-principal-01), var(--cor-principal-03));
    border-radius: 3em;
    letter-spacing: 0.05em;
    font-weight: bolder;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
#navbar-oculta__botao-ver-planos:hover{
    filter: brightness(130%);
    text-decoration: underline;
}

@media (max-width: 720px){
    #navbar-oculta{
        padding: 0.25rem 0.25rem;
    }

    #navbar-oculta__botao-inicio{
        display: none;
    }

    #navbar-oculta__botao-ver-planos{
        font-size: 1.1em;
    }
}



/* ## DIV JORNADA CLIENTE ########################################## */

#main__div-jornada-cliente{
    background-image: linear-gradient(to bottom, var(--cor-principal-gradiente-01), var(--cor-principal-gradiente-02)),
    url("./imagens/IMG_3152_Acinzentado_3000x2000.png");
}

#div-jornada-cliente__container-texto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

#div-jornada-cliente__container-texto > img{
    width: 96px;
}

@media (max-width: 800px){
    #div-jornada-cliente__container-texto{
        flex-direction: column;
        gap: 1rem;
        font-size: 1.2em;
    }

    #div-jornada-cliente__container-texto > img{
        width: 64px;
        height: 64px;
        transform: rotate(90deg);
    }
}

/* ## DIV COMO FUNCIONA O PROCESSO ################################ */

#main__div-como-funciona-processo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 0 var(--padding-lateral-01);
    text-align: center;

    overflow: visible; /* para o scale dos cards */
}

#div-como-funciona-processo__container-cards{
    display: grid;
    grid-gap: 3rem;
    justify-content: stretch;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        'a b c'
        'd e f'
        'g g g';
}

.div-como-funciona-processo__card:nth-child(a){grid-area: a;}
.div-como-funciona-processo__card:nth-child(b){grid-area: b;}
.div-como-funciona-processo__card:nth-child(c){grid-area: c;}
.div-como-funciona-processo__card:nth-child(d){grid-area: d;}
.div-como-funciona-processo__card:nth-child(e){grid-area: e;}
.div-como-funciona-processo__card:nth-child(f){grid-area: f;}
.div-como-funciona-processo__card.ultimo{grid-area: g;}

@media (max-width: 950px) {
    #div-como-funciona-processo__container-cards{
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.5rem;
        grid-template-areas: 
            'a b'
            'c d'
            'e f'
            'g g';
    }
}

@media (max-width: 650px) {
    #div-como-funciona-processo__container-cards{
        grid-template-columns: 1fr;
        grid-gap: 1.5rem;
        grid-template-areas: 
            'a'
            'b'
            'c'
            'd'
            'e'
            'f'
            'g';
    }
}

.div-como-funciona-processo__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2.0rem 1.25rem;
    border-radius: 3rem;
    border: 2px solid white;
    backdrop-filter: blur(5px);
    transition: transform var(--transition-time);
}
.div-como-funciona-processo__card:hover{
    z-index: 99;
    transform: scale(1.05);
}
.div-como-funciona-processo__card > img{
    width: 128px;
}
.div-como-funciona-processo__card.ultimo{
    max-width: 100%;
    padding: 2.0rem 3.75rem;
}




/* ## DIV 60 DIAS OTIMIZADOS ########################################## */

#main__div-60-dias{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 0 var(--padding-lateral-01);
    text-align: center;
}

#main__div-60-dias span{
    color: var(--cor-principal-01);
}

#main__div-60-dias > img{
    max-width: 95vw;
}

#link-moveis-planejados{
    max-width: 15rem;
    cursor: pointer;
    filter: brightness(60%);
    transition: filter var(--transition-time);
}
#link-moveis-planejados:hover{
    filter: brightness(100%);
}

@media (max-width: 720px){
    #main__div-60-dias{
        font-size: 0.8em;
        padding: 0px var(--padding-lateral-01-mobile);
    }

    #main__div-60-dias > p{
        font-size: 1.3em;
    }
}


/* ## DIV COMO FUNCIONA O SERVICO ##################################### */

#main__div-como-funciona-servico{
    background-image: linear-gradient(to bottom, #007be7ab, #004076ab),
    url("./imagens/IMG_3152_Acinzentado_3000x2000.png");
}

#main__div-como-funciona-servico > p{
    letter-spacing: 0.075em;
}



/* ## DIV PLANOS DE SERVICO ########################################## */

#main__div-planos-servicos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

#div-planos-servicos__container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1.5rem;
}

.card-plano-servico{
    max-width: 16em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;
    border-radius: 3rem;
    border: 2px solid white;
    font-weight: bold;

    backdrop-filter: blur(5px);
    /* transition: transform var(--transition-time), backdrop-filter var(--transition-time); */
}
.card-plano-servico img{
    max-width: 96px;
}
.card-plano-servico > h2, .card-plano-servico__preco{
   text-align: center;
}
.card-plano-servico span{
    color: var(--cor-principal-01);
}
.card-plano-servico > ul{
    list-style: none;
    font-weight: normal;
}
.card-plano-servico > ul > li::before{
    content: "• ";
}
.card-plano-servico__container-imagens{
    display: flex;
    gap: 1rem;
}
#container-cards__seta-baixo{
    max-width: 2.5rem;
    opacity: 90%;
    filter: multiply(var(--cor-principal-01));
}



/* ## DIV FALE CONOSCO ################################################# */

#main__div-fale-conosco{
    background-image: linear-gradient(to bottom, #007be7ab, #004076ab),
    url("./imagens/IMG_3152_Acinzentado_3000x2000.png");
    font-size: 1.1em;
}

.botao-whatsapp{
    padding: 0.75em 1.5em;
    font-size: 1.1em;
}



/* ## DIV PERGUNTAS FREQUENTES ######################################## */

#main__div-perguntas-frequentes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem; 
}

#div-perguntas-frequentes__container-perguntas{
    max-width: 60rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.div-pergunta{
    backdrop-filter: brightness(300%);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
}
.div-pergunta:hover{
    backdrop-filter: brightness(450%);
    cursor: pointer;
}
.div-pergunta.ativo{
    backdrop-filter: brightness(450%);
}

.div-pergunta > h2{
    color: var(--cor-principal-01);
}

.div-pergunta > p{
    padding-top: 0.75rem;
    display: none;
    max-height: 0px;
    overflow: hidden;
    font-size: 1.0em;
}
.div-pergunta.ativo > p{
    display: block;
    max-height: 999px;
}

@media (max-width: 1000px){
    #main__div-perguntas-frequentes{
        padding: 0px var(--padding-lateral-01-mobile);
    }
}



/* ## DIV COOKIES ##################################################### */

#main__div-cookies{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    left: 1rem;
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 2rem;
    border: 2px solid white;
    backdrop-filter: blur(5px);
    background-color: #00080fb4;
    box-shadow: 5px 5px 5px black;
    text-align: center;

    display: none;
    opacity: 0%;
    transition: opacity var(--transition-time);
}
#main__div-cookies.ativo{
    display: flex;
    opacity: 100%;
}

#main__div-cookies > div{
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    padding: 0px 1.0rem;
}

#div-cookies__botao-ver-config{
    font-size: 0.8em;
    opacity: 70%;
}

#div-cookies__botao-aceitar{
    padding: 0.5em 3.5em;
    font-size: 1.1em;
}

@media (max-width: 720px){
    #main__div-cookies{
        position: fixed;
        bottom: 0px;
        right: 0px;
        left: 0px;
        align-items: center;
        gap: 0.5rem;
        text-align: center;
        padding: 1.0rem;
        border-radius: 0px;
        border: none;
        border-top: 2px solid white;
        font-size: 20px;
        background-color: rgba(0, 0, 0, 0.8);
        /* box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.5); */
    }

    #main__div-cookies > div{
        gap: 3rem;
    }

    #div-cookies__botao-aceitar{
        padding: 0.25em 1.5em;
        font-size: 20px;
    }
}



/* 
####### ESTILOS DO FOOTER ##############################################################################
*/

footer{
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.075em;
    box-shadow: 0px -1rem 1rem var(--cor-principal-04);
    font-size: 0.75em;
}
footer > section{
    padding: 0.75rem;
}

#footer__sec-infos{
    background-color: var(--cor-principal-02);
}
#footer__sec-infos .nome-logo{
    font-size: 0.9em;
}
#footer__sec-infos a{
    text-decoration: none;
}

#footer__sec-creditos{
    background-color: var(--cor-principal-04);
}






